body {
    font-size: 22px;
    font-family: 'Montserrat', serif;
}

header {
    background-color: #14281D;
    color: #D6D3F0;
}

a {
    color: #D6D3F0;
    text-decoration: none;
}

.logo {
    background: url("../images/logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 180px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 22px;
}

.nav-link:hover {
    text-decoration: underline;
    color: #D6D3F0;
}

.active {
    border-bottom: 1px solid #D6D3F0;
}

footer {
    background-color: #14281D;
    color: #D6D3F0;
}

.footertext {
    color: #D6D3F0;
    font-size: 8px;
    margin: 0px;
}

.footertext > p {
    color: #D6D3F0;
    font-size: 4px;
}
.companyinfo {
    text-align: left;
}

.contactinfo {
    text-align: center;
}

.socials {
    align-items: right;
}
.sociallinks li a i:hover {
    color: #648381;
    align-items: right;
}

#galleryimages {
    column-count: 2;
    clear: both;
    line-height: 0;
    column-gap: 0px;
}

#galleryimages > img {
    max-width: 180px;
    margin: 0;
    padding: 0;
}

@media only screen and (min-width: 768px) {

.footertext {
        color: #D6D3F0;
        font-size:16px;
        margin: 0px;
    }
#galleryimages {
    column-count: 3;
    }
#galleryimages>img {
    max-width: 330px;
    margin:0;
    padding: 0;
}

}