body {
    font-size: 22px;
    font-family: 'Montserrat', serif;
}

/* Header and nav bar */

.headerrow {
    display: inline-block;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    background-color: var(--white);
    font-family: "Poppins", sans-serif;
} */

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Header */
.header {
    background-color: #14281D;
    box-shadow: 1px 1px 5px 0px grey;
    position: sticky;
    top: 0;
    width: 100%;
    padding: 10px;
}

/* Logo */
.logo {
    display: inline-block;
    background-image: url("../images/logo.jpg");
    margin-left: 5px;
    margin-top: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 65px;
    width: 65px;
    border-radius: 50%;

}

h1,
h2 {
    color: #D6D3F0;
    font-size: 100%;
}

.headertext {
    float: left;
    font-size: 1.1em;
    padding-top: 25px;
    padding-left: 3px;
}

/*  Nav menu  */
.nav {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    background-color: #14281D;
    overflow: hidden;

}

.menu a {
    display: block;
    padding: 30px;
    color: #D6D3F0;
    font-size: 160%;
}

.active {
    border-bottom: 1px solid #D6D3F0;
}

.menu a:hover {
    background-color: grey;
}

.nav {
    max-height: 0;
    transition: max-height .5s ease-out;
}

/* Menu Icon */
.hamb {
    cursor: pointer;
    padding: 40px 20px;
}

/* Style label tag */

.hamb-line {
    background: #D6D3F0;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

}

/* Style span tag */

.hamb-line::before,
.hamb-line::after {
    background: #D6D3F0;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before {
    top: 5px;
}

.hamb-line::after {
    top: -5px;
}

.side-menu {
    display: none;
}

/* Hide checkbox */

/* Toggle menu icon */
.side-menu:checked~nav {
    max-height: 100%;
}

.side-menu:checked~.hamb .hamb-line {
    background: transparent;
}

.side-menu:checked~.hamb .hamb-line::before {
    transform: rotate(-45deg);
    top: 0;
}

.side-menu:checked~.hamb .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
}

/* header {
    background-color: #14281D;
    color: #D6D3F0;
}

a {
    color: #D6D3F0;
    text-decoration: none;
}

.logo {
    background: url("../images/logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 180px;
}

.headerdiv {
    display: inline-block;

} */

h1 {
    font-size: 30px;
}

h2 {
    font-size: 22px;
}

/* Footer */

footer {
    background-color: #14281D;
    color: #D6D3F0;
}

.footertext {
    color: #D6D3F0;
    font-size: 8px;
    margin: 0px;
}

.footertext>p {
    color: #D6D3F0;
    font-size: 4px;
}

.companyinfo {
    text-align: left;
}

.contactinfo {
    text-align: center;
}

.social-links {
    float: right;
    padding-right: 15px;
}

.sociallinks li a i:hover {
    color: #648381;
}

#galleryimages {
    column-count: 2;
    clear: both;
    line-height: 0;
    column-gap: 0px;
}

#galleryimages>img {
    max-width: 180px;
    margin: 0;
    padding: 0;
}

.missionsection {
    clear: left;
    background: url("../images/image1.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.missiontext {

    margin-top: 50px;
    color: #fff;
    background-color: rgba(100, 131, 129, 0.6);
    max-width: 300px;
    position: absolute;
    left: 10%;
    padding: 10px;
    font-size: 18px;
    width: 60%;
}

p {
    margin: 0;
}

/* Home page - Facilities Section */

#facilitiessection {
    width: 90%;
    height: 1200px;
    margin: 0 auto;
}

.left-about-heading,
.right-about-heading {
    width: inherit;
}

.left-about-heading h2,
.right-about-heading h2 {
    width: 100%;
    text-align: center;
}

.left-about-heading p,
.right-about-heading p {
    text-align: center;
    padding: 0 20px 0 20px;
}

#left-about {
    padding-top: 30px;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    font-size: 14px;
}

#right-about {
    padding-top: 350px;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    font-size: 14px;
    float: right;
}

#center-about {
    width: 80%;
    margin: 0 20px;
}

hr {
    border-top: 1px solid #777777;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    margin-bottom: 50px;

    width: 90%;
    line-height: 20px;
    clear: both;
    text-align: center;
    margin: 0 a
}

.right-about-heading {
    width: 90%;
    float: left;
    line-height: 20px;
    clear: both;
    text-align: center;
    margin-bottom: 50px;
}

.right-about-heading h2 {
    text-align: right;
}

.facilitiestext {
    font-size: 12px;
}

#factilitiestitle {
    margin: 20px 0;
    text-align: center;
    font-size: 100%;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #cccccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto 0 auto;
}

#circle-cover-bg {
    background: url("../images/image2.jpg") no-repeat center center;
    height: 100%;
    border-radius: 50%;
    background-size: cover;
}

/* Home page - MAP */

.mapcontainer {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.maptitle {
    color: #648381;
    margin-bottom: 60px;
}

iframe {
    width: 80%;
    height: 500px;
}

/* Prices & Booking page */

.pricessection {
    clear: left;
    background: url("../images/image4.jpg");
    background-size: cover;
    background-position: center;
    height: 70vh;
    margin-top: 0;
    padding-top: 0;
}

.pricestext {

    margin-top: 53vh;
    color: #fff;
    background-color: rgba(100, 131, 129, 0.9);
    max-width: 250px;
    position: absolute;
    left: 10%;
    padding: 5px;
    font-size: 12px;
    width: 60%;
}

.pricestext h2 {
    font-size: 14px;
    padding-left: 10px;
}

.pricestext ul {
    padding-left: 7vw;
}

/*prices & booking page - form */

.bookingsection {
    background: rgba(100, 131, 129, 0.6);
    margin-top: 0;
    padding-top: 1px;
}

fieldset {
    margin: 1em 0;
    padding: 1em 1em;
    /* border: solid 1px #ccc; */
    border-radius: 6px;
    min-width: 200px;
    color: #14281D;
}

legend {
    font-size: 1em;
    padding: 0 .25em;
    color: #14281D;
}

.bookingdesc {
    font-size: 0.6em;
    font-style: italic;
    padding-bottom: 1em;
}

label {
    display: block;
    margin-top: 0;
    font-size: 0.6em;
}

#dow,
#ts {
    font-size: 0.8em;
    padding-top: 20px;
}

.radio label {
    margin-top: 0;
}

label:first-of-type {
    margin-top: 0;
}

input {
    /* padding: 5em; */
    border: solid 1px #999;
}

input[type="email"] {
    width: 15em;
}

input[type="text"] {
    width: 15em;
}

.radios {
    margin-bottom: 1em;
}

.radios label {
    display: inline-block;
}

input[type="radio"] {
    display: inline-block;
    padding-top: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

/* Responsiveness small-medium */
@media (min-width: 576px) {
    .logo {
        display: inline-block;
        background-image: url("../images/logo.jpg");
        margin-left: 10px;
        margin-top: 0px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 80px;
        width: 80px;
        border-radius: 50%;
    }

    .headertext {
        font-size: 1.2em;
    }
}

/* Responsiveness medium- large */
@media only screen and (min-width: 768px) {

    .logo {
        display: inline-block;
        background-image: url("../images/logo.jpg");
        /* font-size: 60px; */
        margin-left: 20px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        /* min-height: 100px;
        width: 100px; */
        border-radius: 50%;

    }

    .headertext {
        float: left;
        font-size: 1.3em;
        padding-top: 20px;
        padding-left: 10px;
    }

    .nav {
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }

    .menu li {
        float: left;
    }

    .menu a {
        display: block;
        padding: 20px;
        color: #D6D3F0;
        font-size: 1em;
    }

    .menu a:hover {
        background-color: transparent;
        color: grey;

    }

    .hamb {
        display: none;
    }

    .footertext {
        color: #D6D3F0;
        font-size: 16px;
        margin: 0px;
    }

    #galleryimages {
        column-count: 3;
    }

    #galleryimages>img {
        max-width: 330px;
        margin: 0;
        padding: 0;
    }

    .missionsection {
        height: 750px;
    }

    .missiontext {

        margin-top: 110px;
        color: #fff;
        background-color: rgba(100, 131, 129, 0.6);
        max-width: 400px;
        position: absolute;
        left: 10%;
        padding: 30px;
    }


    /* Home page - Facilities Section */

    #facilitiessection {
        height: 700px;
    }


    #left-about {
        padding-top: 30px;
        width: 33%;
        float: left;
    }

    #right-about {
        padding-top: 30px;
        width: 33%;
        float: right;
    }

    #center-about {
        width: 33%;
        margin: 130px auto 0 auto;
    }

    hr {
        border-top: 1px solid #777777;
        width: 100%;
        margin: 5px 0;
    }

    .left-about-heading {
        width: 50%;
        float: right;
        line-height: 20px;
        clear: both;
        margin-bottom: 50px;
    }

    .right-about-heading {
        width: 50%;
        float: left;
        line-height: 20px;
        clear: both;
        margin-bottom: 50px;
    }

    .right-about-heading h2 {
        text-align: right;
    }

    .facilitiestext {
        font-size: 16px;
    }

    #factilitiestitle {
        margin: 20px 0;
        text-align: center;
        font-size: 280%;
    }

    #circle-container {
        width: 300px;
        height: 300px;
        padding: 30px;
        border-style: solid;
        border-color: #cccccc;
        border-width: 1px;
        border-radius: 50%;
        margin: 0 auto 0 auto;
    }

    #circle-cover-bg {
        background: url("../images/image2.jpg") no-repeat center center;
        height: 100%;
        border-radius: 50%;
        background-size: cover;
    }

    /* prices & booking page */

    .pricessection {
        clear: left;
        background: url("../images/image4.jpg");
        background-size: cover;
        background-position: center;
        height: 82vh;
        margin-top: 0;
        padding-top: 0;
    }

    .pricestext {

        margin-top: 55vh;
        color: #fff;
        background-color: rgba(100, 131, 129, 0.9);
        max-width: 350px;
        position: absolute;
        left: 10%;
        padding: 10px;
        font-size: 18px;
        width: 70%;
    }

    .pricestext ul {
        padding-left: 3vw;
    }

    .pricestext h2 {
        font-size: 22px;
        padding-left: 10px;
    }

    /* form */

    .bookingsection {
        background: rgba(100, 131, 129, 0.6);
        margin-top: 0;
        padding-top: 1px;
    }

    fieldset {
        margin: 2em 0;
        padding: 1em 2em;
        /* border: solid 1px #ccc; */
        border-radius: 6px;
        min-width: 200px;
        color: #14281D;
    }

    legend {
        font-size: 1.25em;
        padding: 0 .25em;
        color: #14281D;
    }

    .bookingdesc {
        font-size: 0.75em;
        font-style: italic;
        padding-bottom: 1em;
    }

    label {
        display: block;
        margin-top: 0;
        font-size: 0.8em;
    }

    #dow,
    #ts {
        font-size: 1em;
        padding-top: 20px;
    }

    .radio label {
        margin-top: 0;
    }

    label:first-of-type {
        margin-top: 0;
    }

    input {
        /* padding: 5em; */
        border: solid 1px #999;
    }

    input[type="email"] {
        width: 15em;
    }

    input[type="text"] {
        width: 15em;
    }

    .radios {
        margin-bottom: 1em;
    }

    .radios label {
        display: inline-block;
    }

    input[type="radio"] {
        display: inline-block;
        padding-top: 0;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
    }

}


/* responsiveness - large */

@media (min-width: 992px) {
    .headertext {
        padding-top: 25px;
        padding-left: 40px;
        font-size: 1.5em;
    }

    .logo {
        min-height: 100px;
        width: 100px;
        margin-left: 10px;
    }

    .menu a {
        display: block;
        padding: 20px;
        color: #D6D3F0;
        font-size: 140%;
    }
}


/* responsiveness - xlarge */

@media (min-width: 1200px) {
    .headertext {
        padding-top: 25px;
        padding-left: 20px;
        font-size: 1.5em;
    }
}